<div class="intro-section">

    <div class="slide-1" style="background-image: url('/images/new-image/about-2.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-lg-10 mb-4">
                            <h1 data-aos="fade-up" data-aos-delay="100">About KCC (Khushi Coaching Classes!)</h1>
                            <p class="mb-4" data-aos="fade-up" data-aos-delay="200">Welcome to Khushi Coaching Classes,
                                where 15 years of excellence in education meets personalized instruction. We are
                                dedicated to nurturing academic success and personal growth through innovative teaching
                                methods, expert guidance, and a supportive learning environment</p>
                            <p data-aos="fade-up" data-aos-delay="300"><a href="#"
                                    class="btn btn-primary py-3 px-5 btn-pill">Admission Now</a></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                <img src="/images/new-image/our-mission.jpg" alt="Image" class="img-fluid img-fluid-radius">
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4 main-style">Our Mission</h2>
                <p class="mb-4 text-justify">At KCC, our mission is to empower students with the
                    knowledge, skills, and confidence needed to achieve their academic and career goals. We are
                    committed to providing high-quality education through personalized attention and comprehensive
                    support.</p>

            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="/images/new-image/our-vision.jpg" alt="Image" class="img-fluid img-fluid-radius">
            </div>
            <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4 main-style">Our Vision</h2>

                <p class="mb-4 text-justify">We aspire to be a leading coaching center recognized for our exceptional
                    teaching methods, student-centered approach, and consistent track record of success. Our vision is
                    to make high-quality education accessible to every student, helping them unlock their full
                    potential.</p>


            </div>
        </div>

        <div class="row mb-5 align-items-center">
            <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
                <img src="images/new-image/engineering.jpg" alt="Image" class="img-fluid img-fluid-radius">
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <h2 class="text-black mb-4 main-style">Our Values</h2>

                <p class="mb-4 text-justify"><b class="bold">Excellence</b>: Striving for the highest standards in all aspects of education. <br>
                    <b class="bold">Integrity</b>: Upholding honesty, transparency, and respect in our interactions. <br>
                    <b class="bold">Innovation</b>: Continuously adopting new teaching techniques and technologies. <br>
                    <b class="bold">Student-Centered</b>: Focusing on the individual needs and aspirations of each student.</p>
            </div>
        </div>


    </div>
</div>

